<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="DB2Load"
   iconfile="DB2.png"
   description="DB2Load"
   tooltip="DB2Load"
   category="Bulk loading"
   classname="com.aofei.kettleplugin.DB2Load.DB2LoadMeta">
   <libraries>
    <library name="DB2Load.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Bulk loading</category>
     <category locale="zh_CN">批量加载</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">DB2 Bulk loading</description>
      <description locale="zh_CN">DB2 批量加载</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">DB2 Bulk loading</tooltip>
     <tooltip locale="zh_CN">DB2 批量加载</tooltip>
   </localized_tooltip>
   
</plugin>
