<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="tableincrementaloutput"
   iconfile="ASC.png"
   description="AS400Converter"
   tooltip="AS400 Converter"
   category="Transformation"
   classname="com.aofei.kettleplugin.AS400.AS400ConverterMeta">
   <libraries>
    <library name="AS400Converter.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Transformation</category>
     <category locale="zh_CN">转换</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">AS400Converter</description>
      <description locale="zh_CN">AS400 Converter</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">AS400 Converter</tooltip>
     <tooltip locale="zh_CN">AS400 Converter</tooltip>
   </localized_tooltip>
   
</plugin>
