<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="CVSInput"
   iconfile="CVS.png"
   description="Adobe CVS File Input"
   tooltip="Search Engine Input"
   category="Input"
   classname="com.aofei.cvsinput.CVSInputMeta">
   <libraries>
    <library name="cvsInput.jar"/>
   </libraries>
    
   <localized_category>
     <category locale="en_US">Input</category>
     <category locale="zh_CN">输入</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Adobe CVS File Input</description>
      <description locale="zh_CN">Adobe CVS 文件输入</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US"> Adobe CVS File Input</tooltip>
     <tooltip locale="zh_CN">Adobe CVS 文件输入</tooltip>
   </localized_tooltip>
   
</plugin>
